{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
{% load static %}

<section class="about" id="about">
    {% for i in Index %}
    <div class="about_img">
        <img src="{% if i.image %}{% static i.image.url %}{% endif %}" class="img" alt="">
    </div>
    <div class="about-text">
        <h2>About<span>Me</span></h2>
        <h4></h4>
        <pre>{{ i.about }}</pre>
            <a href="/services" class="btn-box">More About Me</a>
    </div>
    {% endfor %}    
</section>

{% endblock body %}