<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <nav class="navbar">
            <li class="nav-item">
                <a class="active" href="/#home" style="--i:1">Home</a>
              </li>
            <a href="#home" style="--i:1" class="active">Home</a>
            <a href="#about" style="--i:2">About</a>
            <a href="#services" style="--i:3">Projects</a>
            <a href="#skills" style="--i:4">Skills</a>
            <a href="#contact" style="--i:5">Contact</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Gururaj Savalgi</h1>
            <h3>And I'm a <span class="text"></span></h3>
            <p>I'm a Django Web Developer.
                <br>expertise is to create and website design,Frontend and Backend design.
            </p>
            <div class="home-sci">
                <a href="#" style="--i:1"><i class='bx bxl-gmail'></i></a>
                <a href="#" style="--i:1"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="#" style="--i:1"><i class='bx bxl-github' ></i></a>
                <a href="#" style="--i:1"><i class='bx bxl-whatsapp-square'></i></a>
            </div>
            <a href="#" class="btn-box">More About Me</a>
        </div>
        <div class="img"><img src="portfolio/media/GGG.jpg" class="img"></div>
        <span class="home-imgHover"></span>
    </section>
    <section class="about" id="about">
        <div class="about_img">
            <img src="portfolio/media/GGG.jpg" class="img" alt="">
        </div>
        <div class="about-text">
            <h2>About<span>Me</span></h2>
            <h4>Django Developer</h4>
            <p>I’m a passionate software engineer with a knack for problem-solving and a
                thirst for knowledge. Proficient in Python,Django web development and Rest
                API . I value collaboration, continuous learning, and staying updated with
                industry trends. Beyond coding, I enjoy playing sports and keeping myself fit.
                Let’s connect and build something amazing together!</p>
                <a href="#" class="btn-box">More About Me</a>
        </div>    
    </section>
    <section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Services</span></h1>
                <div class="services-list">
                    <div>
                        <i class='bx bx-link' style='color:#00eeff' ></i>
                        <i class='bx bxl-github' style='color:#00eeff' ></i>
                        <h2>UI Design</h2>
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#" class="read">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class="sub-title">My<span>Skills</span></h1>
    <section>
        
        <div class="container1" id="skills">
            <h1 class="heading1">Technical Skills</h1>
            <div class="Technical-bars">
                <div class="bar"><i class='bx bxl-html5' style='color:#00eeff'  ></i>
                    <div class="info">
                                <span>HTML</span>
                </div>
                <div class="progress-line html">
                    <span></span>
                </div>
            </div>
            </div>
        </div>
        <div class="container1">
            <h1 class="heading1">Professional Skills</h1>
            <div class="radial-bars">
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text">creativity</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">65%</div>
                <div class="text">creativity</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text">creativity</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text">creativity</div>
            </div>
        </div>
    </div>
    </section>
    <section class="contact" id="contact">
        <div class="contact-text">
            <h2>Contact<span> Me</span></h2>
            <h4>Let's work Togehter</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nostrum magnam suscipit tempore.</p>
            <div class="contact-list">
                <li><i class='bx bxs-send' ></i>contact@gmail.com</li>
                <li><i class='bx bxs-send' ></i>address</li>
                <li><i class='bx bxs-phone'></i>08105804581</li>
            </div>
            <div class="contact-icons">
                <a href=""><i class='bx bxl-facebook-square'></i></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="contact-form">
            <form action="">
                <input type="" placeholder="Enter your Name" required>
                <input type="email" placeholder="Enter your Email" required>
                <input type="" placeholder="Enter your Subject" required>
                <textarea name="" id="" cols="40" rows="10" placeholder="Enter Your  Message" required></textarea>
                <input type="submit" value="submit" class="send">
            </form>
        </div>
    </section>
    <div class="last-text">
        <p>Developed with love by Gururaj Savalgi &copy; 2023</p>
    </div>
        <a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>
    <script src="/static/javascript/main.js"></script>
</body>
</html>